// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:

table.dashboard {
  border: blue solid thin;
  border-collapse: collapse;
  tr, td {
    text-align: center;
    border: blue solid thin;
  }
}
