// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:

table.dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: blue solid thin;
  border-collapse: collapse;
  th, tr, td {
    text-align: center;
    border: blue solid thin;
  }
}

div.main {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-right: 0;
  margin-left: auto;
}

#kml_popup {
  width: 300px;
  height: 200px;
  position: absolute;
  display: none;
  z-index: 20000;
}