%h1 グループの成績

.row-fluid
  .offset2.span8.center
    %table.table.table-striped
      %thead
        %tr
          %th グループ名
          %th 合計距離(Km)
      %tbody
        - @group_ranking.each do |info|
          %tr(class="#{info['id'] == @my_group.group_id ? 'success' : ''}")
            %td= info['name']
            %td= sprintf('%.1f', info['distance'])

%div ※ 2013年11月1日以降のチームメンバーの累計距離の合計で順位を決めています
